

.wrapper {
  padding: 50px;
}

.box {
  width: 600px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 4px;

  border: 1px solid #bcbcbc;
}

.box-small {
  width: 300px;
  height: 300px;
}


[nuiDrag] {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 1px solid #ffa8a8;
  background-color: white;
  transition: transform 10ms linear;
}

.nui-drag-active {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  // box-shadow: 0px 9px 19px -10px #ffa8a8;
}
